<div>
  <h2>User List</h2>
  <ul>
    <li *ngFor="let user of users">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">Age: {{ user.age }}</p>
          <p class="card-text">Email: {{ user.email }}</p>
          <a [routerLink]="['/user', user._id ]" class="btn btn-primary"
            >Details</a
          >
        </div>
      </div>
    </li>
  </ul>
  <button routerLink="/newUser" class="btn btn-secondary">New User</button>
</div>
